body {
	font-size: 13px;
}

form {
	display: table;
}

.row {
	display: table-row;
}

.col {
	display: table-cell;
	padding: 3px;
}

input[id="offsetX"],input[id="offsetY"]  {
   width:73px;
}